<div class="criteres">

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Marque</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choisir</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Modele</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choisir</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Carburant</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choisir</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <form>
    <div class="form-group">
      <label for="formControlRange">Prix</label>
      <input type="range" class="form-control-range" id="prixControlRange">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="formControlRange">Nombre de kilomètres</label>
      <input type="range" class="form-control-range" id="nbKMControlRange">
    </div>
  </form>

  

</div>